<div class="container m-auto w-full sm:w-1/4">
  <h1 class="text-center py-12 text-3xl font-bold">Weather Forecast App</h1>

  <div class="mx-6">
    <label class="input input-bordered flex items-center gap-2">
      <input
        #searchInput
        type="text"
        class="grow"
        placeholder="Search"
        name="search"
        [ngModel]="selectedCityName"
        (ngModelChange)="store.updateSearchQuery($event)"
        (focus)="searchInputFocus = true"
        (blur)="searchInputBlur()"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-4 h-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd"
        />
      </svg>
    </label>
    @if(searchInputFocus && store.searchQuery()) {
    <div class="dropdown dropdown-open w-full">
      @if (store.filteredCities().length > 0) {
      <ul
        tabindex="0"
        class="dropdown-content w-full z-[1] menu -mt-3 shadow bg-base-100 rounded-box"
      >
        @for (city of store.filteredCities(); track city.id) {
        <li (mousedown)="onCitySelect(city)">
          <a>{{ city.cityName }}, {{ city.stateName }}</a>
        </li>
        }
      </ul>
      } @else if (store.filteredCities().length === 0) {
      <div
        class="dropdown-content w-full z-[1] menu -mt-3 shadow bg-base-100 rounded-box p-4 text-center"
      >
        No city found...
      </div>
      }
    </div>
    }
  </div>
</div>
